.form {
  display: flex;
  flex-direction: column;
}

textarea {
  font-size: 20px;
}

.notes {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 3rem;
}

.note-container {
  width: 25rem;
  height: 20rem;
  font-size: 2rem;
  margin: 1rem;
  border: 1px solid #000;
  position: relative;
  overflow: auto;
}

.content {
  padding: 1rem;
  overflow-wrap: break-word;
}

.update, .note-close, .send {
  border: none;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  transition: .1s linear;
  outline: inherit;
  margin: 1.2rem;
  margin-top: 2rem;  
  width: 40px;
  height: 40px;
}

.note-close {
  background: none;
  border: none;
  outline: inherit;
  margin: 0;
  margin-left: 38%;
  position: absolute;
  width: 45px;
  height: 45px;
}

.update:hover, .note-close:hover, .send:hover  {
  box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.3), 1px 1px 8px rgba(255, 255, 255, 1);
}

.update:active, .note-close:active, .send:active {
 
  display: inline-block;
  box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.3), 1px 1px 8px rgba(255, 255, 255, 1);

}

span {
  display: flex;
  margin-left: 5rem;
}

img {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.send {
  margin-top: 90px;
}